name: CI

on:
  push:
    branches:
      - feature/**
      - main
  pull_request:
    branches:
      - feature/**
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: npm ci --workspaces

      - name: Lint
        env:
          CI: '1'
        run: npm run lint

      - name: Typecheck
        env:
          CI: '1'
        run: npm run typecheck

      - name: Unit tests
        env:
          CI: '1'
        run: npm run test

      - name: Build
        env:
          CI: '1'
        run: npm run build

      - name: Size limit
        env:
          CI: '1'
        run: npm run size
